<?php
// config.php.sample
$config = [
  'settings' => [
    'displayErrorDetails' => true,
    'db' => [
      'uri' => 'CLOUDANT-URI',
      'name' => 'watchlist'
    ],
    'tmdb' => [
      'key' => 'API-KEY'
    ]
  ]
];